fastapi
uvicorn
pymongo
torch
transformers
diffusers
Pillow
python-multipart
wikipedia-api==0.5.4
wikipedia
beautifulsoup4==4.9.3
requests==2.28.1
lxml>=4.9.0
html5lib>=1.1
psutil==5.9.0
fastapi==0.110.0
uvicorn==0.27.1
python-dotenv==1.0.1
sqlalchemy==2.0.27
pydantic==2.6.1